:root {
  --background-color: #181b20;
  --highlight-color: #baac62;
  --contrast-color: #f6f7fb;
}

.projectsSection {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--contrast-color);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
}

.projectsTitle {
  font-size: 2.5rem;
  color: var(--highlight-color);
  margin-bottom: 20px;
}

.sliderOuter {
  width: 80%;
  overflow: hidden; /* Se ocultan las cards que salen de los límites */
}

.sliderContent {
  display: flex;
  transition: transform 0.8s ease-in-out;
  width: 100%;
}

/* Botones con indicadores en el medio */
.sliderButtonWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 20px;
}

.sliderButton {
  background-color: var(--highlight-color);
  border: none;
  padding: 10px;
  font-size: 24px;
  color: var(--background-color);
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  border-radius: 50%;
  height: 50px; /* Tamaño más pequeño */
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1; /* Asegura que el botón esté por encima de otros elementos */
  position: relative;
}

.sliderButton:hover {
  background-color: var(--background-color);
  color: var(--highlight-color);
  transform: scale(1.1);
}

/* Indicadores */
.indicatorWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 12px;
  height: 12px;
  margin: 0 5px;
  background-color: var(--highlight-color);
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.indicator.active {
  opacity: 1;
}

.projectCard {
  flex: 0 0 calc(100% / 3);
  max-width: calc(100% / 3);
  text-align: left;
  border-radius: 15px;
  background-color: #1f2328;
  padding: 20px;
  border: 2px solid transparent;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
  transition: transform 0.5s ease, border-color 0.3s ease, box-shadow 0.3s ease;
}

.projectCard:hover {
  transform: scale(1.05);
  border-color: var(--highlight-color);
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.7);
}

.projectImage {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
}

.projectInfo {
  color: var(--contrast-color);
}

.projectTitle {
  font-size: 1.8rem;
  margin-bottom: 10px;
  color: var(--highlight-color);
}

.projectDescription {
  font-size: 1rem;
  line-height: 1.5;
}

/* Responsive */
@media (max-width: 1024px) {
  .projectCard {
    flex: 0 0 calc(100% / 2); /* Show 2 projects on medium screens */
    max-width: calc(100% / 2);
  }
}

@media (max-width: 768px) {
  .projectCard {
    flex: 0 0 100%; /* Show 1 project on small screens */
    max-width: 100%;
  }
}
